@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;
    --red1: red;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--dark1);
}

::-webkit-scrollbar-thumb{
    background: var(--dark3);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--red1);
}

body{
  background-color: var(--dark2);
  font-family: 'Montserrat';
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

strong{
  color: var(--red1);
}

img {
  border-radius: 10px;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8em;
  background-color: var(--dark6);
  min-height: 50px;
  margin: 0 0 1rem;
  box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.5);
}

nav{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links{
  text-decoration: none;
  color: var(--white);
}

.nav-links:hover{
  color: var(--red1);
  transition: .4s;
}

.foto-principal{
  background-color: var(--dark1);
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
}

.foto-principal img{
  width: 100%;
}

.conheca{
  background-color: var(--dark1);
  text-align: center;
  padding: 20px;
  gap: 1rem;
}

.conheca h2{
  font-size: 40px;
  font-weight: bold;
}

.conheca h3{
  padding: 2em;
  
}

.link-action{
  padding: .6rem;
  font-size: .9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: .4s;
}

.btn-action{
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--dark2);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
}

.btn-action:hover {
  background-color: var(--red1);
  border: 1px solid var(--red1);
}

@media screen and (max-width: 480px) {
  .foto-principal{
    background-color: var(--dark1);
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .foto-principal img{
    width: 100%;
    border-radius: 0;
    box-shadow: 0px 16px 18px 0px rgba(0,0,0,0.5);
  }

  .conheca{
    background-color: var(--dark1);
    text-align: center;
    padding: 1rem;
  }
  
  .conheca h2{
    font-size: 2rem;
    font-weight: bold;
  }
  
  .conheca h3{
    padding: 1rem;
  }

  .link-action{
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
    display: block;
  }
  
  .btn-action{
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--dark2);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
  }
  
  .btn-action:hover {
    background-color: var(--red1);
    border: 1px solid var(--red1);
  }
}

.title-espacos h1{
  padding: 50px;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
}

.espacos{
  background-color: var(--dark1);
  padding: 20px;
  margin: 0px 50px;
  border-radius: 10px;
}

.espacos img {
  width: 50%;
}

.espacos p {
  font-size: 20px;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.espacos .container{
  display: flex;
  background-color: var(--dark2);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.espacos .container div{
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.botoes{
  display: none
}

@media screen and (max-width: 480px) {
  #carousel {
    overflow-x: hidden;
  }

  .title-espacos h1{
    padding: 1rem;
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
  }
  
  .espacos{
    transition: .5s;
    background-color: var(--dark1);
    padding: 0px;
    margin: 0;
    border-radius: 0;
    display: flex;
  }
  
  .espacos img {
    width: 100%;
    border-radius: 0;
  }
  
  .espacos p {
    font-size: 1rem;
    width: 100%;
    text-align: justify;
    align-items: center;
    padding: 0;
  }
  
  .espacos .container{
    min-width: 100vw;
    max-width: 100vw;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark2);
    border-radius: 0;
    align-items: center;
    justify-content: center;
  }

  .espacos .container div{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .botoes{
    display: flex;
    background: var(--dark1);
    padding: 1rem;
    justify-content: space-between;
  }

  .botoes button {
    padding: 0;
    border: none;
    background: transparent;
  }

  .botoes button svg {
    color: var(--white);
  }
}


.title-coworking h1{
  padding: 50px;
  font-size: 40px;
  text-align: right;
  text-transform: uppercase;
}

.caixas-formas-coworking{
  background-color: var(--dark1);
  display: flex;
  
  justify-content: center;
  padding: 20px;
}

.caixas-formas-coworking div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixas-formas-coworking div p{
  border-left: .8rem solid var(--red1);
  height: 90%;
  padding: 1rem;
  text-align: justify;
}

svg{
  color: red;
}

.title-localizacao h1{
  padding: 50px;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
}

.localizacao{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--dark1);
  padding: 20px;
  margin: 0px 50px;
  border-radius: 10px;
}

.localizacao div:nth-of-type(1){
  width: 100%;
  display: flex;
  gap: .5rem;
}

.localizacao div:nth-of-type(1) div{
  width: 50%;
}

.localizacao .endereco a{
  margin: 1rem 0 0;
  color: var(--white);
  transition: .2s;
}

.endereco a:hover{
  color: var(--red1);

}


.localizacao img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .title-coworking h1{
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .caixas-formas-coworking{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .title-localizacao h1{
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .localizacao{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--dark1);
    padding: 1rem;
    margin: 0;
    border-radius: 0;
  }
  
  .localizacao div:nth-of-type(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .localizacao div:nth-of-type(1) div{
    width: 100%;
  }

  .localizacao div:nth-of-type(1) div iframe{
    min-height: 250px;
  }
}

footer {
  margin: 2rem 0 0;
  background: var(--dark1);
  padding: 1rem 50px;
}

footer section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
} 

footer section .title-contato{
  padding: 50px;
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
}

footer section .card-contato {
  background: var(--dark2);
  width: 80%;
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding: 2rem;
  gap: 2rem;

}

footer section .sobre {
  background-color: var(--dark2);
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 80%;
}

footer section .sobre p{
  padding: 2rem;
  font-size: 25px;
  height: 90%;
}

footer section .sobre h1{
  padding: 2rem;
  font-size: 40px;
  text-transform: uppercase;
}

footer section .card-contato svg {
  transition: .2s;
  color: white;
}

footer section .card-contato a {
  transition: .2s;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  letter-spacing: .5rem;
  text-decoration: none;
}

footer section .card-contato:hover a {
  color: var(--red1)
}

footer section .card-contato:hover svg {
  color: var(--red1)
}

.contato-wha {
  max-width: 50%;
  right: 2rem;
  bottom: 2rem;
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.desc{
  transition: .5s;
  transform-origin: right;
  transform: scaleX(0);
  overflow: hidden;
  background: var(--dark1);
  border-radius: 10px;
}

.contato-a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.contato-wha p{
  transition: .5s;
  padding: 1rem 2rem;
  width: 100%;
  text-wrap: nowrap;
  transform: translateX(100%);
}

.contato-wha .svg-wha{
  transition: .5s;
  max-width: 80px;
}

.contato-wha:hover {
  cursor: pointer;
}

.contato-wha:hover div:nth-child(1){
  cursor: pointer;
  box-shadow: 6px 6px 10px 4px rgba(0,0,0,0.5);
  transform: scaleX(1);
}

.contato-wha:hover p{
  transition: .8s;
  transform: translateX(0);
}

.contato-wha:hover .svg-wha{
  filter: drop-shadow(7px 7px 4px rgba(0,0,0,0.5));
}


.contato-wha svg {
  width: 100%;
  height: 100%
}

@media screen and (max-width: 480px) {
  footer {
    padding: 1rem 0
  }
  
  footer section .title-contato{
    padding: 2rem;
    font-size: 1.5rem;
  }
  
  footer section .sobre {
    background-color: var(--dark2);
    justify-content: center;
    text-align: justify;
    padding: .5rem;
    width: 100%;
  }
  
  footer section .sobre p{
    padding: 1rem;
    font-size: 1rem;
  }
  
  footer section .sobre h1{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  
  footer section .card-contato a {
    transition: .2s;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: .5rem;
    text-decoration: none;
  }

  footer section .card-contato:nth-of-type(3) a {
    font-size: 10px;
    letter-spacing: normal;
  }

  .desc{
    transition: 0;
  }
  
  .contato-wha .svg-wha{
    transition: 0;
  }

  .contato-wha:hover div:nth-child(1){
    transition: 0;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    transform: scaleX(0);
  }
  
  .contato-wha svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(7px 7px 4px rgba(0,0,0,0.5));
  }
  
}